@charset "utf-8";
body {
    overflow: hidden;
    background: url(../images/new_index/baq_bg.jpg) no-repeat;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.wrap .header {
    width: 1890px;
    height: 80px;
    margin: 10px auto;
    text-align: center;
    background: -moz-linear-gradient(left, #152a5d, #2c4670, #152a5d);
    background: -webkit-linear-gradient(left, #152a5d, #2c4670, #152a5d);
    background: linear-gradient(left, #152a5d, #2c4670, #152a5d);
    font-size: 0;
}

.wrap .header .logo {
    display: inline-block;
    width: 1248px;
    height: 50px;
    margin-top: 15px;
    background: url(../images/new_index/baq_logo.png) center no-repeat;
}

.wrap .header .title {
}

.main {
    width: 1890px;
    margin: 10px auto;
    overflow: hidden;
}

/*main left*/

.main .main-left {
    width: 758px;
    float: left;
}

/*title*/

.main-left .map-title-wrap {
    height: 52px;
    overflow: hidden;
}

.main-left .map-title-wrap .title-icon {
    width: 52px;
    height: 52px;
    background: #052b53 url(../images/new_index/icon_bapt.png) center center no-repeat;
    float: left;
}

.main-left .map-title-wrap .title {
    width: 705px;
    height: 52px;
    margin-left: 1px;
    line-height: 52px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-indent: 25px;
    background: #334e74;
    float: left;
}

.main-left .map-wrap {
    margin-top: 8px;
    padding: 16px;
    height: 878px;
    background: #052b55;
    box-sizing: border-box;
}

.map-wrap .map-content {
    width: 100%;
    height: 100%;
    background: #fff;
}
.map-wrap .map-content img{
    width: 100%;
}

/*main right*/

.main-right {
    margin-left: 770px;
}

.video-info {
    height: 328px;
}

/*视频区*/

.real-time {
    width: 526px;
    height: 328px;
    font-size: 0;
    float: left;
}

.real-time .title {
    width: 75px;
    height: 328px;
    display: inline-block;
    vertical-align: top;
}

.real-time .title .keys {
    width: 22px;
    display: inline-block;
    font-size: 22px;
    line-height: 1.1;
    color: #fff;
    padding-left: 26px;
    padding-top: 60px;
    font-weight: bold;
    letter-spacing: 4px;
    box-sizing: border-box;
}

.real-time .title .dot{
    width: 5px;
    display: inline-block;
    padding-left: 5px;
    line-height: 1;
    font-size: 30px;
    color: #fff;
}


.real-time .video {
    width: 450px;
    height: 328px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.real-time .title {
    background: #0c4d94 url(../images/new_index/icon_shishi.png) center 18px no-repeat;
}

.user-info {
    width: 286px;
    margin-left: 15px;
    float: left;
}

.user-info .use-title {
    width: 286px;
    height: 52px;
    overflow: hidden;
}

.user-info .use-title .title-left {
    box-sizing: border-box;
    width: 180px;
    height: 52px;
    line-height: 52px;
    padding-left: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background: #052b53 url(../images/new_index/icon_baqk.png) 10px center no-repeat;
    float: left;
}

.user-info .use-title .title-right {
    width: 100px;
    height: 52px;
    background: #223a67;
    float: right;
}

.user-info .use-content {
    margin-top: 7px;
}

.user-info .use-content li {
    height: 44px;
    line-height: 44px;
    background: #052b53;
    margin-top: 1px;
    padding-left: 22px;
}

.use-content .title {
    font-size: 16px;
    color: #aac9f1;
}

.use-content .num {
    color: #00b4ff;
    font-size: 24px;
}

.use-content .name {
    color: #00b4ff;
    font-size: 16px;
}

.video-btn {
    float: right;
    width: 283px;
    height: 328px;
    padding: 0 23px;
    background: #052b55;
    box-sizing: border-box;
}

.video-btn li:first-child {
    margin-top: 33px;
    margin-bottom: 25px;
}

.docket,
.warning {
    height: 290px;
    margin-top: 15px;
    font-size: 0;
}

.docket .title,
.warning .title {
    width: 75px;
    height: 290px;
    display: inline-block;
    vertical-align: top;
}

.docket .title .keys,
.warning .title .keys {
    width: 75px;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    writing-mode: tb-rl;
    padding-right: 20px;
    padding-top: 80px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    box-sizing: border-box;
}

.docket .title .num,
.warning .title .num {
    width: 75px;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    writing-mode: tb-rl;
    padding-right: 17px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    box-sizing: border-box;
}

.docket .title .num .inner,
.warning .title .num .inner {
    writing-mode: rl-tb;
    padding-right: 2px;
    box-sizing: border-box;
}

.docket .title {
    background: #2382cd url(../images/new_index/icon_aj.png) center 28px no-repeat;

}

.warning .title {
    background: #f98b3f url(../images/new_index/icon_aj.png) center 28px no-repeat;
}

.docket .docket-table,
.warning .docket-table {
    width: 1012px;
    height: 290px;
    display: inline-block;
}

.docket .docket-table table,
.warning .docket-table table {
    width: 100%;
    height: 100%;
    background: #052b53;
}

.docket .docket-table table th,
.warning .docket-table table th {
    height: 58px;
    font-size: 18px;
    color: #6491ca;
    border-right: 1px solid #173a61;
    padding-left: 20px;
}

.warning .docket-table table th:last-child {
    padding-left: 30px;
    border-right: none;
}

.docket .docket-table table th:last-child {
    border-right: none;
}

.docket .docket-table table td,
.warning .docket-table table td {
    height: 58px;
    font-size: 18px;
    color: #b6bcc3;
    border-right: 1px solid #173a61;
    padding-left: 20px;
}

.docket .docket-table table td:last-child,
.warning .docket-table table td:last-child {
    border-right: none;
}

.warning .docket-table table td:last-child {
    padding-left: 30px;
}

.docket .docket-table .photo {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}

.docket .docket-table .photo img {
    width: 40px;
    height: 40px;
}

.docket .control,
.warning .control {
    display: inline-block;
    width: 33px;
    height: 290px;
    background: #031e3b;
}

.docket .control .left,
.warning .control .left {
    height: 50%;
    background: url(../images/new_index/btn_prev.png) center no-repeat;
    cursor: pointer;
}

.docket .control .left:hover,
.warning .control .left:hover {
    background: #6491ca url(../images/new_index/btn_prev.png) center no-repeat;
}

.docket .control .right,
.warning .control .right {
    height: 50%;
    background: url(../images/new_index/btn_next.png) center no-repeat;
    cursor: pointer;
}

.docket .control .right:hover,
.warning .control .right:hover {
    background: #6491ca url(../images/new_index/btn_next.png) center no-repeat;
}


