@charset "utf-8";
.chooseBox {
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 100;
    background: #fff;
    border:1px solid #000000;
    border-radius: 2px;
    box-shadow: #000 0 0 2px;
    -webkit-box-shadow: #000 0 0 2px
}

.chooseBox ul {
    width: 100%;
    height: auto;
    cursor: pointer;
    list-style: none
}

.chooseBox ul li {
    width: 100%;
    height: 20px;
    color: #000;
    font-size: 13px;
    text-align: center;
    line-height: 20px
}

.chooseBox ul li:hover {
    background: #3498db;
    color: #fff
}

.inputSignBox {
    width: 250px;
    height: 60px;
    position: absolute;
    z-index: 100;
    background: #fff;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: #000 0 0 4px;
    -webkit-box-shadow: #000 0 0 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    overflow: hidden
}

.outSignbox,
.sureSign{
    float: left;
    width: 100px;
    height: 29px;
    color: #1b1b1b;
    line-height: 29px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    border:1px solid #1e416b;
}

.sureSign {

}

.signIndex {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: rgb(255, 90, 90) 3px solid;
    position: absolute;
    z-index: 103
}

.hintBox {
    margin: 0;
    position: absolute;
    min-width: 50px;
    max-width: 240px;
    max-height: 100px;
    min-height: 20px;
    z-index: 101;
    background: rgb(0, 0, 0);
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    text-align: center
}

.triangle-down {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(0, 0, 0);
    z-index: 101
}

.imagebox {
    width: 575px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.imagebox img {
    width: 100%;
}

.photo-wrap .title{
    padding-top: 10px;
    text-align: center;
}