<ul class="area-wuhan-qingshan-map">
    <li class="item area1 active"></li>
    <li class="item area2 active"></li>
    <li class="item area3 active"></li>
    <li class="item area4 active"></li>
    <li class="item area5 active"></li>
    <li class="item area6 "></li>
    <li class="item area7 "></li>
    <li class="item area8 "></li>
    <li class="item area9 "></li>
    <li class="item area10 "></li>
    <li class="item area11 "></li>
    <li class="item area12 "></li>
    <li class="item area13 "></li>
    <li class="item area14 "></li>
    <li class="item area15 "></li>
    <li class="item area16 "></li>
    <li class="item area17 "></li>
    <li class="item area18 "></li>
</ul>