<ul class="area-zhian-map">
    <li class="item area1">
        <span>询问室</span>
    </li>
    <li class="item area2 active">
        <span>&nbsp;&nbsp;涉案<br>财物室</span>
        <div class="mark">3</div>
    </li>
    <li class="item area3">
        <span>询问室<br><i class="space"></i>07</span>
    </li>
    <li class="item area4">
        <span>询问室<br><i class="space"></i>06</span>
    </li>
    <li class="item area5">
        <span>询问室<br><i class="space"></i>05</span>
    </li>
    <li class="item area6">
        <span>询问室<br><i class="space"></i>04</span>
    </li>
    <li class="item area7">
        <span>询问室<br><i class="space"></i>03</span>
    </li>
    <li class="item area8">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;毒品<br>&nbsp;检查室<br>洗手间</span>
    </li>
    <li class="item area9">
        <span>询问室<br><i class="space"></i>02</span>
    </li>
    <li class="item area10">
        <span>询问室<br><i class="space"></i>01</span>
    </li>
    <li class="item area11">
        <span>&nbsp;&nbsp;信息<br>采集室</span>
    </li>
    <li class="item area12">
        <span>辨认室</span>
    </li>
    <li class="item area13">
        <span>&nbsp;&nbsp;安全<br>检查室</span>
    </li>
    <li class="item area14">
        <span>讯问室<br><i class="space"></i>01</span>
    </li>
    <li class="item area15">
        <span>讯问室<br><i class="space"></i>02</span>
    </li>
    <li class="item area16">
        <span>讯问室<br><i class="space"></i>03</span>
    </li>
    <li class="item area17">
        <span>候问室</span>
    </li>
</ul>