<ul class="area-zhian-map">
    <li class="item area1 active">
        <span>询问室<br>010</span>
    </li>
    <li class="item area2 active">
        <span>&nbsp;&nbsp;涉案<br>财物室</span>
    </li>
    <li class="item area3 active">
        <span>询问室<br>001</span>
    </li>
    <li class="item area4 active">
        <span>询问室<br>002</span>
    </li>
    <li class="item area5 active">
        <span>询问室<br>003</span>
    </li>
    <li class="item area6">
        <span>询问室<br>004</span>
    </li>
    <li class="item area7 active">
        <span>询问室<br>005</span>
    </li>
    <li class="item area8 active">
        <span>询问室<br>006</span>
    </li>
    <li class="item area9 active">
        <span>信息<br>采集室</span>
    </li>
    <li class="item area10 active">
        <span>&nbsp;&nbsp;信息<br>采集室</span>
    </li>
    <li class="item area11 active">
        <span>&nbsp;&nbsp;安全<br>监察室</span>
    </li>
    <li class="item area12 active">
        <span>询问室<br>007</span>
    </li>
    <li class="item area13 active">
        <span>询问室<br>008</span>
    </li>
    <li class="item area14">
        <span>询问室<br>009</span>
    </li>
    <li class="item area15">
        <span>候问室</span>
    </li>
</ul>