<ul class="area-map">
    <li class="item washroom1">
        <span>WC</span>
    </li>
    <li class="item washroom2">
        <span>WC</span>
    </li>
    <li class="item area1 active">
        <span>候问室</span>
    </li>
    <li class="item area2 active">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;讯问室<i>/</i>&nbsp;&nbsp;人身<br>检查室</span>
    </li>
    <li class="item area4">
        <span>机房</span>
    </li>
    <li class="item area5">
        <span>信息<br>采集室</span>
    </li>
    <li class="item area6 active">
        <span>询问室<br>003</span>
    </li>
    <li class="item area7">
        <span>办公室</span>
    </li>
    <li class="item area8">
        <span>办公室</span>
    </li>
    <li class="item area9 active">
        <span>询问室<br>004</span>
    </li>
    <li class="item area10">
        <span>询问室<br>005</span>
    </li>
    <li class="item area11 active">
        <span>询问室<br>006</span>
    </li>
    <li class="item area12">
        <span>询问室<br>007</span>
    </li>
</ul>